<h1><%= @user.name%>'s dashboard</h1>
<% #@user.racketreviews.each do |userracketreviews| %>
<%#= userracketreviews.comment %>
<%# end %>
Your last reviews:
<ul>
<% @userracketreviews.each do |racketreview| %>
<li><%= racketreview.racket.brand %></li>
<li><%= racketreview.racket.model %></li>
<li><%= racketreview.comment %></li>
<% end %>
 -------
</ul>
 <% if @user.admin == 1 %>
Manage <%= link_to "users", users_path %>
<% end %>

