<%# <%= react_component("/account/details", {greeting: "hello"}) %>  


  <%= render "shared/navbar" %>
<div class= "user-account-page-container"> 



  <div class= "user-account-container">
     
    <div class= "user-account-app" data-user= "<%= @user.to_json %>" data-user-reviews= "<%= @user_reviews.to_json%>">
  
     <%= javascript_pack_tag "user_account", 'data-turbolinks-track': 'reload' %>
    </div>

    <!-- <h2> Edit account </h2> -->
    <%# <%= render template: "devise/registrations/edit", locals: {resource_name: "user", resource: @user, devise_mapping: @devise_mapping} %> 
  
    <%# <%= link_to "delete", @user, method: :delete, data: { confirm: "Are you sure"} %><br> %>
    <% if @user.admin == 1 %>
    Manage <%= link_to "users", users_path %>
    Add a new <%= link_to "racket", controller: "rackets", action: "new" %>
    <% end %>
  </div> 
  <%= render partial: "shared/footer"%>  
</div>


<%#= button_to "Delete Review", { action: "destroy", :controller=>"racketreviews", id: racketreview.id }, method: :delete, data: { confirm: "t'es certain Roger?", remote: true}, class: "delete_review" %>
