
<%= render "shared/navbar" %>
<div class= "user-account-page-container"> 
  <div class= "user-account-container">  
    <div class= "user-account-app" data-user= "<%= @user.to_json %>" data-user-reviews= "<%= @user_reviews.to_json%>">
      <%= javascript_pack_tag "user_account", 'data-turbolinks-track': 'reload' %>
    </div>

    <% if @user.admin == 1 %>
    <%# Manage <%= link_to "users", users_path %> 
    <%# Add a new <%= link_to "racket", controller: "rackets", action: "new" %> 
    <% end %>
  </div> 
  <%= render partial: "shared/footer"%>  
</div>
