<h1>Rackets#index</h1>
<p>Find me in app/views/rackets/index.html.erb</p>

<% @rackets.each do |racket| %>
  <%= racket.brand %>
  <%= racket.model %>
  <%= racket.headsize %>
  <%= racket.id %>
<% end %>

<%= form_tag rackets_path, method: :get do %>

            <% select_tag "brand"%>
            <%= text_field_tag :brand, params[:brand], placeholder: 'Search for racket brand'%>
           <%= submit_tag "Search" %>

<%end%>
