<div class= "index-page">
<div class = 'racket-page-container'>
  <%= render partial: "shared/navbar" %>
  <div class = 'short-comparator-background'>
  </div>
  <%= render partial: "rackets/rackets_index/comparator" %>

  <div class= 'search-bar-and-racket-cards'>
    <%= form_with url: "/rackets", method: "get", class: 'search-form', format: 'json', remote: :true  do %>

    <div class = 'search-bar'>
      <%= render partial: "rackets/rackets_index/searchbar" %>
    </div>
    <% end %>

    <div class = 'racket-container'>
      <%= render partial: "rackets/rackets_index/racket"%>
    </div>
  </div>
</div>
<%= render partial: "shared/footer"%>
</div>


