<h1>Rackets#index</h1>
<p>Find me in app/views/rackets/index.html.erb</p>

<% if user_signed_in? %>
        Signed in as <%= current_user.email %>. This cannot be cheese? <%= current_user.id %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>



<%= form_tag rackets_path, method: :get do %>
<%= select_tag("brand", options_for_select(@brands_available, @brand)) %>
<%= submit_tag "Search" %>
<% end %>


<ul>
<% @rackets.each do |racket| %>
  <li> brand: <%= racket.brand %> </li>
  <li> model: <%= racket.model %></li>
  <li> headsize: <%= racket.headsize %> cm2</li>
  <li> weight: <%= racket.weight %> grams </li>
  <li> length: <%= racket.length %> cm </li>
  <li> price: <%= racket.price %> </li>
  <li> <%= link_to "racket details", racket_path(racket.id) %> </li>
  <p> --------------- </p>
<% end %>
</ul>

