
<%= render "shared/navbar" %>

<div class= 'product-page-container'>

  <div class= 'product-image-and-spec'>


    <% pn = @racket.brand.downcase.gsub(/\s+/, '') + "-" + @racket.model.downcase.gsub(/\s+/, '') %>
    <% path = Rails.root.join('app', 'javascript', 'images', "#{pn}").to_s %>
    <% if File.exist?(path + ".jpg") == true %>
      <%= image_pack_tag "media/images/#{pn.to_s}.jpg", class: "product-image" %>
      <% elsif File.exist?(path + ".jpeg") == true %>
        <%= image_pack_tag "media/images/#{pn.to_s}.jpeg", class: "product-image" %>
      <% else %>
        <%= image_pack_tag "media/images/racket-sample.jpg", class: "product-image" %>
      <% end %> 

    <div class= 'product-spec-container'>
      <div class= 'product-spec'>
        <div class = 'spec-title'>
          <h1> <%= @racket.brand.capitalize %> </h1><h2><%= @racket.model.capitalize %></h2>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Strength:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.strength%>
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Headsize:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.headsize %> cm²
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Weight:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.weight %> grams
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Length:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.length %> cm
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Balance:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.balance %> cm
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            String pattern:
          </h5>
          <h5 class= "show-spec-details">
            <% pattern_array = @racket.string_pattern.to_s.split('')%>
            <%= "#{pattern_array[0]}#{pattern_array[1]}x#{pattern_array[2]}#{pattern_array[3]}"%>
          </h5>
        </div>
        <!--<div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Stiffness:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.stiffness %> RA
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Swingweight:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.swingweight%> kg/cm²
          </h5>
        </div> -->
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Composition:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.material.capitalize %>
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Players:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.players %> 
          </h5>
        </div>
        <div class= 'show-spec'>
          <h5 class= "show-spec-details">
            Price:
          </h5>
          <h5 class= "show-spec-details">
            <%= @racket.price %> Euros
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class= 'show-product-description'>
    <h3> Description </h3>
    <div class= "show-desc">
      <%= @racket.description %>
    </div>
  </div>

  <div class= 'product-reviews-section'>
    <div class= 'review-section-titles'>
      <h3> Review(s) </h3>
      <h5 class= 'review-section-subtitle'> Let everyone know how you feel about this racket! </h5>
    </div>

    <% if user_signed_in? %>
    <%= render template: "racketreviews/new" %>

    <% else %>
    <%= link_to "Leave a review", "/users/sign_in", data: { confirm: "please log in/sign up to leave a review"}, class: "leave-review-btn button-up"%>
    
    <% end %>

    <div class= 'reviews-list'>
      <% if @reviews.present? == true %>
      <% @reviews.each do |racketreview| %>
      <div class= review-card id = <%=racketreview.id%>>
        <div class="review-user-detail">
          <i class="fas fa-grin-alt"></i>
          <h5 class= "user-name-review">
            <%= racketreview.user.username.capitalize %>
          </h5>

          <% if user_signed_in? && racketreview.user.id == @user.id%>
          <%= link_to 'Edit Review', edit_racket_racketreview_path(racket_id: @racket.id, id: racketreview.id), remote: true, class: "user-edit-review" %>
          <% end %>
          <h7 class= "review-date">
            <%= racketreview.created_at.strftime("%Y/%m/%d") %>
          </h7>
        </div>
        <div class= "review-text-and-delete">
          <div class= "review-text">
            <%= racketreview.comment %>
          </div>
          <% if user_signed_in? && racketreview.user.id == @user.id%>
          <%= render template: "racketreviews/destroy", locals: {racketreview: racketreview} %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>




