<h1>Rackets#show</h1>
<p>Find me in app/views/rackets/show.html.erb</p>

<ul>
  <li> brand: <%= @racket.brand %> </li>
  <li> model: <%= @racket.model %></li>
  <li> headsize: <%= @racket.headsize %> cm2</li>
  <li> weight: <%= @racket.weight %> grams </li>
  <li> length: <%= @racket.length %> cm </li>
  <li> price: <%= @racket.price %> euros </li>
  <li> <%= link_to "back to the search", rackets_path %> </li>
</ul>
<%= "---------------" %>

<div>
  <% if user_signed_in? %>
    <%= form_with url: racket_racketreviews_path(@racket.id), model: @racketreview, class: "nifty_form" do |f| %>
      <%= f.label "please leave a comment" %>
      <div>
      <%= f.text_field :comment %>
      </div>
      <%= f.submit "Create" %>
    <% end %>
  <% else %>
    <%= "please" %>
    <%=  link_to 'log in', new_user_session_path %>
    <%= "to leave/edit/delete a review" %>
  <% end %>
</div>
<%= "---------------" %>


<div>
<% @racket.racketreviews.each do |racketreview| %>
L'avis de <%= racketreview.user.name %>:
<%= racketreview.comment %>
  <div>
    <% if user_signed_in? && racketreview.user.id == @user.id%>
    <%= button_to "Delete Review", { action: "destroy", :controller=>"racketreviews", id: racketreview.id }, method: :delete, data: { confirm: "t'es certain Roger?", remote: true}, class: "delete_review" %>
  </div>
  <div id="edit-review">
  <%= link_to 'Edit Review', edit_racketreview_path(racketreview), remote: true %>
  </div>
  <% end %>
<% end %>
</div>





