<%= render "shared/navbar" %>
<div class= "show-page">
  <div class= 'product-page-container'>
    <div class= 'product-page'>
      <div class= 'product-image-and-spec'>
        <div class= 'product-image'>
          <img src="/assets/racket-sample.jpg">
        </div>

        <div class= 'product-spec-container'>
          <div class= 'product-spec'>
            <div class = 'spec-title'>
              <h1> <%= @racket.brand %> </h1><h2><%= @racket.model %></h2>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                headsize
              </div>
              <div class= "show-spec-details">
                <%= @racket.headsize %> sq cm
              </div>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                weight
              </div>
              <div class= "show-spec-details">
                <%= @racket.weight %> grams
              </div>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                length
              </div>
              <div class= "show-spec-details">
                <%= @racket.length %> cm
              </div>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                balance
              </div>
              <div class= "show-spec-details">
                <%= @racket.balance %> cm
              </div>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                string pattern
              </div>
              <div class= "show-spec-details">
                <% pattern_array = @racket.string_pattern.to_s.split('')%>
                <%= pattern_array[0] + pattern_array[1] %> x <%= pattern_array[2] + pattern_array[3] %>
              </div>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                material
              </div>
              <div class= "show-spec-details">
                <%= @racket.material %>
              </div>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                stiffness
              </div>
              <div class= "show-spec-details">
                <%= @racket.stiffness %>RA
              </div>
            </div>
            <div class= 'show-spec'>
              <div class= "show-spec-details">
                swingweight
              </div>
              <div class= "show-spec-details">
                <%= @racket.swingweight%>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class= 'show-product-description'>
        <h3> Description </h3>

        <div>
          <%= lorem_ipsum(500) %>
        </div>
        <div>
          <%= " " %>
        </div>
        <div>
          <%= lorem_ipsum(700) %>
        </div>
      </div>


      <div class= 'product-reviews-section'>
        <div class= 'review-section-titles'>
          <h3> Review(s) </h3>
            <% if @racket.racketreviews.present? == true %>
            <div class= 'review-section-subtitle'> Let everyone know how you feel about this racket! </div>
            <%  else  %>
            <div class= 'review-section-subtitle'> Be the first one to share your opinion on this model! </div>
            <% end %>
          </div>

          <% if user_signed_in? %>
          <%= render template: "racketreviews/new" %>

        <% else %>
        <%=  button_to "Leave a review", new_user_session_path, data: { confirm: "please log in/sign up to leave a review"}, class: "leave-review-btn button-up"%>
        <% end %>

        <div class= 'reviews-list'>
          <% if @racket.racketreviews.present? == true %>
            <% @racket.racketreviews.each do |racketreview| %>
            <div class= review-card>
              <div class="review-user-detail">
                <i class="fas fa-grin-alt"></i>
                <h5 class= "user-name-review">
                  <%= racketreview.user.name.capitalize %>
                </h5>


                <% if user_signed_in? && racketreview.user.id == @user.id%>
                  <%= link_to 'Edit Review', edit_racketreview_path(racketreview), remote: true, class: "user-edit-review" %>
                <% end %>
              </div>
              <div class= "review-text-and-delete">
                <div class= review-text>
                  <%= racketreview.comment %>
                </div>
                <% if user_signed_in? && racketreview.user.id == @user.id%>
                <%= render template: "racketreviews/destroy", locals: {racketreview: racketreview} %>
                <% end %>
              </div>
            </div>

            <% end %>
            <% else %>
            <div>
              No reviews yet
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>




