<%= render "shared/navbar" %>
<div class= 'racket-container-show'>
  <div class= 'racket-image-description'>
    <img src="/assets/racket-sample.jpg">


    <ul>
      <h1> <%= @racket.brand%> <%= @racket.model%> </h1>

      <h3> Description </h3>
      <%= lorem_ipsum(200) %>
      <h3> Details </h3>
      <div>
      headsize: <%= @racket.headsize %> cm2
      </div>
      <div>
      weight: <%= @racket.weight %> grams
      </div>
      <div>
      length: <%= @racket.length %> cm
      </div>
      <div>
      balance: <%= @racket.balance %> cm
      </div>
      <div>
      string pattern: <%= @racket.horizontalstringpattern %>x<%= @racket.verticalstringpattern %>
      </div>
      <div>
      material: <%= @racket.material %>
      </div>
      <div>
      color: <%= @racket.color %>
      </div>
      <div>
      <%= link_to "back to the search", rackets_path %>
      <div></div>
    </ul>
  </div>
  <div>
    <% if user_signed_in? %>
    <%= form_with url: racket_racketreviews_path(@racket.id), model: @racketreview, class: "nifty_form" do |f| %>
    <%= f.label "please leave a comment" %>
    <div>
      <%= f.text_field :comment %>
    </div>
    <%= f.submit "Create" %>
    <% end %>
    <% else %>
    <%= "please" %>
    <%=  link_to 'log in', new_user_session_path %>
    <%= "to leave/edit/delete a review" %>
    <% end %>
  </div>
  <%= "---------------" %>


  <div>
    <% delete_confirmation_message = ["Rafa y aurait réfléchis à deux fois","Avant de supprimer votre message, demandons d'abord l'avis du guru de djoko, non?", "t'es certain Roger?", "John Mc Enroe a été envoyé à votre adresse, vous pouvez toujours changer d'avis"].shuffle.first %>
    <% @racket.racketreviews.each do |racketreview| %>
    <ul>

      <li>L'avis de <%= racketreview.user.name %>:</li>
      <li><%= racketreview.comment %></li>
    </ul>
    <div id="edit-review">
      <% if user_signed_in? && racketreview.user.id == @user.id%>
      <%= button_to "Delete Review", { action: "destroy", :controller=>"racketreviews", id: racketreview.id }, method: :delete, data: { confirm: ["Rafa y aurait réfléchis à deux fois!","Avant de supprimer votre message, demandons d'abord l'avis du guru de djoko, non?", "t'es certain Roger?", "John Mc Enroe a été envoyé à votre adresse, vous pouvez toujours changer d'avis (faites vite)."].shuffle.first , remote: true}, remote: true, class: "delete_review" %>


      <%= link_to 'Edit Review', edit_racketreview_path(racketreview), remote: true %>
    </div>

    <% end %>

    <% end %>

  </div>

</div>



