
<div class= 'racket-comparator-container'>
  <div class= 'short-comparator-container'>
    <div class = 'short-displayed-rackets'>
      <% @rackets_to_display.each {|racket| %>
      <div class = 'short-comparator-racket-card'>
        <% if @rackets_to_display != [] %>
        <div class='short-brand-model-container'>
          <div class= 'spec-data'>
            <%= racket.brand %>

            <%= racket.model %>
          </div>
        </div>
        <%= label_tag nil, class: 'compared-racket-checkbox-label' do %>
        <%= check_box_tag "selected_racket_id[]", racket.id,
        if @selected_racket[:racket_id] != nil
          @selected_racket[:racket_id].include?(racket.id.to_s)
        end,
        id: racket.id,
        class: 'compared-racket-checkbox'
          %>
          <i class="fas fa-times"></i>
          <% end %>
          <% end %>
        </div>
        <%  }  %>
      </div>
      <div class= "open-comparator-arrow">
        Open
      </div>
    </div>

    <div class= 'large-comparator-container'>
      <div class = 'background-container'>
        <div class = 'top-background'>
        </div>
        <div class = 'bottom-background'>

        </div>

      </div>
      <div class= "comparator-container">
        <div class= 'racket-comparator'>
          <div class = "racket-specs-container">
            <div class = 'logo-placeholder'>

            </div>
            <div class= 'racket-comparator-specs'>
              <div class = 'spec-list'>Headsize</div>
              <div class = 'spec-list'>String Pattern</div>
              <div class = 'spec-list'>Weight</div>
              <div class = 'spec-list'>Length</div>
              <div class = 'spec-list'>Swingweight</div>
              <div class = 'spec-list'>Stiffness</div>
              <div class = 'spec-list'>Power</div>
              <div class = 'spec-list'>Manoeuvrability</div>
              <div class = 'spec-list'>Comfort</div>
              <div class = 'spec-list'>Control</div>
            </div>
          </div>
          <% @rackets_to_display.each {|racket| %>
          <div class="compared-racket-cards-container">
            <div class="large-comparator-racket-card">
              <div class="model-brand-container">
                <h4 class= "spec"><%= racket.brand %> </h4>
                <h4 class= "spec"><%= racket.model %></h4>
              </div>
              <div class="compared-racket-cards-data">
                <div class= "spec"><%= racket.headsize %></div>
                <div class= "spec"><%= racket.string_pattern %></div>
                <div class= "spec"><%= racket.weight %></div>
                <div class= "spec"><%= racket.length %></div>
                <div class= "spec"><%= racket.swingweight %></div>
                <div class= "spec"><%= racket.stiffness %></div>
                <div class= "spec"><%= "powerpotential" %></div>
                <div class= "spec"><%= "manoeuvrability" %></div>
                <div class= "spec"><%= "comfort" %></div>
                <div class= "spec"><%= "control" %></div>
              </div>
            </div>
            <%= label_tag nil, class: 'compared-racket-checkbox-label' do %>
            <%= check_box_tag "selected_racket_id[]", racket.id,
            if @selected_racket[:racket_id] != nil
              @selected_racket[:racket_id].include?(racket.id.to_s)
            end,
            id: racket.id,
            class: 'compared-racket-checkbox'
              %>
              <i class="fas fa-times"></i>
              <% end %>
            </div>
            <% } %>

          </div>
        </div>
        <div class= "close-comparator-arrow">
          <i class="arrow-up"></i>
        </div>
      </div>
    </div>


