
<div class= 'racket-comparator-container'>
  <div class= 'short-comparator-container'>

    <%# <% if @rackets_to_display == []  %>
    
      <h5 class= "empty-comparator" style= "position: absolute"> 
        <i class="fas fa-arrow-alt-circle-right" style= "margin-right: 15px"></i>
        Compared rackets will be displayed here
        <i class="fas fa-arrow-alt-circle-left" style= "margin-left: 15px"></i>

      </h5>
    <%# <% end %> 

    <div class = 'short-displayed-rackets'>
      <% @rackets_to_display.each {|racket| %>
      <div class = 'short-comparator-racket-card'>
        <% if @rackets_to_display != [] %>
        <div class='short-brand-model-container'>
          <div class= 'spec-data'>
            <%= racket.brand %>
            <%= racket.model %>
          </div>
        </div>
        <%= label_tag nil, class: 'compared-racket-checkbox-label' do %>
        <%= check_box_tag "selected_racket_id[]", racket.id,
        if @selected_racket[:racket_id] != nil
          @selected_racket[:racket_id].include?(racket.id.to_s)
        end,
        id: racket.id,
        class: 'compared-racket-checkbox'
          %>
          <i class="fas fa-times"></i>
          <% end %>
          <% end %>
        </div>
        <%  }  %>
      </div>
      <div class= "open-comparator-arrow">
        Open
      </div>
    </div>

    <div class= 'large-comparator-container'>
      <div class = 'background-container'>
        <div class = 'top-background'>
        </div>
        <div class = 'bottom-background'>

        </div>

      </div>
      <div class= "comparator-container">
        <div class = "racket-specs-container">
          <div class = 'logo-placeholder'>

          </div>
          <div class= 'racket-comparator-specs'>
            <div class = 'spec-list'>Brand</div>
            <div class = 'spec-list'>Model</div>
            <div class = 'spec-list'>Strength</div>
            <div class = 'spec-list'>Weight</div>
            <div class = 'spec-list'>Headsize</div>
            <div class = 'spec-list'>String Pattern</div>
            <div class = 'spec-list'>Balance</div>
            <div class = 'spec-list'>Stiffness</div>
            <div class = 'spec-list'>Swingweight</div>
            <div class = 'spec-list'>Length</div>
            <div class = 'spec-list'>Price</div>

          </div>
        </div>
        <div class= 'racket-comparator'>
          <% @rackets_to_display.each {|racket| %>
          <div class="compared-racket-cards-container">
            <div class="large-comparator-racket-card">
              <div class="comparator-card-image">
                <%= link_to "See more", racket_path(racket.id), class: 'see-more-link' %>

                <% pn = racket.brand.downcase.gsub(/\s+/, '') + "-" + racket.model.downcase.gsub(/\s+/, '') %>
                <% path = Rails.root.join('app', 'javascript', 'images', "#{pn}").to_s %>
                <% if File.exist?(path + ".jpg") == true %>
                  <%= image_pack_tag "media/images/#{pn.to_s}.jpg" %>
                <% elsif File.exist?(path + ".jpeg") == true %>
                  <%= image_pack_tag "media/images/#{pn.to_s}.jpeg" %>
                <% else %>
                  <%= image_pack_tag "media/images/racket-sample.jpg" %>
                <% end %> 
              </div>
              <div class="compared-racket-cards-data">
                <%= link_to "See more", racket_path(racket.id), class: 'see-more-link' %>
                <h4 class= "spec"><%= racket.brand %></h4>
                <h5 class= "spec"><%= racket.model %></h5>
                <div class= "spec"><%= racket.strength %></div>
                <div class= "spec"><%= racket.weight %> g</div>
                <div class= "spec"><%= racket.headsize %> cm²</div>
                <div class= "spec"><%= "#{racket.string_pattern[0]}#{racket.string_pattern[1]}x#{racket.string_pattern[2]}#{racket.string_pattern[3]}"%></div>
                <div class= "spec"><%= racket.balance %> cm</div>
                <% if racket.stiffness != nil %>
                  <div class= "spec"><%= racket.stiffness %> RA</div>
                <% else %>
                  <div class= "spec"> undefined</div> 
                <% end %>
                <% if racket.swingweight != nil %>
                  <div class= "spec"><%= racket.swingweight %> kg-cm²</div>
                <% else %>
                  <div class= "spec"> undefined</div> 
                <% end %>
                <div class= "spec"><%= racket.length %> cm</div>
                <div class= "spec"><%= racket.price %> Euros</div>

            <%= label_tag nil, class: 'compared-racket-checkbox-label' do %>
            <%= check_box_tag "selected_racket_id[]", racket.id,
            if @selected_racket[:racket_id] != nil
              @selected_racket[:racket_id].include?(racket.id.to_s)
            end,
            id: racket.id,
            class: 'compared-racket-checkbox'
              %>
              <i class="fas fa-times"></i>
              <% end %>
            </div>
            </div>
          </div>
          <% } %>
          </div>
        </div>
        <div class= "close-comparator-arrow">
          <i class="arrow-up"></i>
        </div>
      </div>
    </div>


