<% require 'pathname'%>

<%= form_with url: "/rackets", method: "get", class: 'select-racket', remote: :true  do %>
<%= hidden_field_tag "select_racket_input", 1 %>
<% a = [] %>
<% @rackets.each do |racket| %>
<div class= 'racket-card'>
  <div class= 'card-item-description'>
    <div class="card-top">

        <div class= 'card-image'>
          <% pn = racket.brand.downcase.gsub(/\s+/, '') + "-" + racket.model.downcase.gsub(/\s+/, '') %>
          <% path = Rails.root.join('app', 'javascript', 'images', "#{pn}").to_s %>
          <% if File.exist?(path + ".jpg") == true %>
            <%= image_pack_tag "media/images/#{pn.to_s}.jpg" %>
          <% elsif File.exist?(path + ".jpeg") == true %>
            <%= image_pack_tag "media/images/#{pn.to_s}.jpeg" %>
          <% else %>
            <%= image_pack_tag "media/images/racket-sample.jpg" %>
          <% end %>  
        </div>

        <div class= 'card-brand-model'>
          <div class= 'card-brand'>
            <h4> <%= racket.brand %> </h4>
          </div>
          <div class= 'card-model'>
            <h5> <%= racket.model %> </h5>
          </div>
        </div>

    </div>
    <div class= "card-bottom">
        <div class= "warning-container">
          <i class="fas fa-exclamation-triangle"></i>
          <div class= "warning-text">
          <h6> Please remove a racket before adding a new one</h6>
          </div>
        </div>
      <div class= 'card-spec'>
        <div class= 'card-weight-stringpattern'>
          <h6 class= 'card-weight'>
            <%= "#{racket.weight}g"%>
          </h6>
          <h6 class= 'card-string-pattern'>
            <% pattern_array = racket.string_pattern.to_s.split('')%>
            <%= "#{pattern_array[0]}#{pattern_array[1]}x#{pattern_array[2]}#{pattern_array[3]}" %>
          </h6>
        </div>
        <div class="card-balance-headsize">
          <h6 class= 'card-balance'>
            <%= "#{racket.balance}cm" %>
          </h6>
          <h6 class= 'card-headsize'>
            <%= "#{racket.headsize}cm²"  %>
          </h6>
        </div>

      </div>

      <div class = "button-and-link">
          <%= link_to "See more", racket_path(racket.id), id: dom_id(racket), class: 'see-more-link' %>
        <div class = 'racket-compare-button'>
          <div class = 'button-up'>
          <%= label_tag nil, class: 'racket-checkbox-label' do %>
          <%= check_box_tag "selected_racket_id[]", racket.id,
          if @selected_racket[:racket_id] != nil
            @selected_racket[:racket_id].include?(racket.id.to_s)
          end,  data: {brand: racket.brand, model: racket.model, strength: "strength", weight: racket.weight, headsize: racket.headsize, balance: racket.balance, length: racket.length, swingweight: racket.swingweight, stringpattern: racket.string_pattern, stiffness: racket.stiffness, strength: "strength", id: racket.id.to_i},
          id: racket.id,
          class: 'racket-checkbox'
            %>
            <i class="fas fa-plus"></i>
            <i class="fas fa-check"></i>
            <i class="fas fa-times"></i>
            <div class="compare"> Compare </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>



  <div class = "previous-next-buttons">
  <%= link_to "Previous", rackets_path(page_batch: previous_page(@current_page)), data: {page_batch: "[40,40]"}, class: "button-up previous" %>
  <%= link_to "Next", rackets_path(page_batch: next_page(@current_page)), data: {page_batch: "[40,40]"}, class: "button-up next" %>
  </div>
  <div class= "page-list-container">
    <div class= "pages">
    <% if @pages <= 9 %>

      <% for i in (1..@pages) do %>
        <% if i == 1 %>
          <%= link_to "#{i}", rackets_path(page_batch: [((i-1)*40),40]), data: {page_batch: [((i-1)*40),40]}, class: 'pagination selected-page'%>
          <% else %>
          <%= link_to "#{i}", rackets_path(page_batch: [((i-1)*40),40]), data: {page_batch: [((i-1)*40),40]}, class: 'pagination'%>
          <% end %>
      <% i+1 %>
      <% end %>

    <% else %>
      <% for i in (1..@pages) do %>
        <% if i == 1 %>
          <%= link_to "#{i}", rackets_path(page_batch: [((i-1)*40),40]), data: {page_batch: [((i-1)*40),40]}, class: 'pagination selected-page'%>
        <% elsif i <= 2 %>
          <%= link_to "#{i}", rackets_path(page_batch: [((i-1)*40),40]), data: {page_batch: [((i-1)*40),40]}, class: 'pagination'%>
          <% i+1 %>

        <% elsif i == 3 %>
          <div class = 'pagination-dots' > <%= " ... " %> </div>
          <% i+1 %>

        <% elsif 3 < i && i <= (@pages - 2) %>
          <% i+1 %>

        <% else %>
          <%= link_to "#{i}", rackets_path(page_batch: [((i-1)*40),40]), data: {page_batch: [((i-1)*40),40]}, class: 'pagination'%>
          <% i+1 %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

</div>
