<!-- <div data-behaviour= "vue">
    <app></app>
</div> -->

<div id= 'search-bar-items' >
  <%= hidden_field_tag "form_input", 1 %>
  <h4>
    <%= "Quick Search" %>
  </h4>
  <%= text_field_tag :model, @model, placeholder: "Enter racket", class: 'type-search' %>


  <div class= 'filter-type' >

    <h5>
      <%= "Brands" %>
    </h5>
    <p>
      <i class="arrow-down"></i>
    </p>
  </div>
  <div class= 'filters'>
    <% brand_array = [] %>
    <% @all_rackets.each {|racket| %>
    <% unless brand_array.include?(racket.brand) %>
    <% brand_array << racket.brand %>
    <div class= 'label-design'>
      <%= check_box_tag "brand[]", brand_array.last,
      if @brand != nil
        brand_values = @brand
        brand_values.include?(racket.brand)
      end, data: {brand: racket.brand},
      id: brand_array.last,
      class: 'searchbar-checkbox'%>
      <%= label_tag brand_array.last, nil, class: 'label' %>
    </div>
    <% end %>
    <% } %>
  </div>

  <div class= 'filter-type'>
    <h5>
      <%= "Gender" %>
    </h5>
    <p>
      <i class="arrow-down"></i>
    </p>
  </div>
  <div class = filters>
    <div class= 'label-design'>
      <%= check_box_tag "adult", true,
      if @adult.present?
        @adult
      else
        false
      end,
      class: 'searchbar-checkbox' %>
      <%= label_tag "adult", nil, class: 'label'  %>
    </div>

    <div class= 'label-design'>
      <%= check_box_tag "kid", true,
      if @kid.present?
        @kid
      else
        false
      end,
      class: 'searchbar-checkbox' %>
      <%= label_tag "kid", nil, class: 'label'  %>
    </div>
  </div>
  <div class= 'filter-type'>
    <h5>
      <%= "String pattern" %>
    </h5>
    <p>
      <i class="arrow-down"></i>
    </p>
  </div>
  <div class = filters>
    <% string_patterns = [] %>
    <% @all_rackets.each{|racket| string_patterns << racket.stringpattern }%>
    <% string_patterns.uniq.each{|pattern| %>
    <div class= 'label-design'>
      <%= check_box_tag "string_pattern[]", pattern,
      if @string_pattern != nil
       @string_pattern.include?(pattern.to_s)
     end,
     id: pattern,
     class: 'searchbar-checkbox' %>
     <% pattern_label = pattern.to_s.split('') %>
     <%= label_tag pattern, "#{pattern_label[0] + pattern_label[1]} x #{pattern_label[2] + pattern_label[3]}", class: 'label'  %>
   </div>
   <% } %>
 </div>

 <div class= 'filter-type'>
   <h5>
    <%= "Weight" %>
  </h5>
  <p>
    <i class="arrow-down"></i>
  </p>
</div>
<div class= 'filters'>
  <% weight_list = [225, 240, 255, 270, 285, 300, 315, 330, 345] %>
  <% weight_list.each {|weight| %>
  <div class= 'label-design'>
    <%= check_box_tag "weight[]", weight,
    if @weight != nil
      @weight.include?(weight)
    end,
    id: weight,
    class: 'searchbar-checkbox' %>
    <%= label_tag weight,
    if weight != 345
      "#{weight}g - #{weight + 14}g"
    else
      ">#{weight}g"
      end, class: 'label'  %>
    </div>
    <% } %>
  </div>

  <div class= 'filter-type'>
    <h5>
      <%= "Headsize" %>
    </h5>
    <p>
      <i class="arrow-down"></i>
    </p>
  </div>
  <div class= 'filters'>
    <% headsize_list = [(0..619), (620..644), (645..679), (680..2000)] %>
    <% headsize_list.each {|headsize| %>
    <div class= 'label-design'>
      <%= check_box_tag "headsize[#{headsize}]", headsize,

      if @headsize != nil

      end,
      id: headsize,
      class: 'searchbar-checkbox' %>
      <%= label_tag headsize, "#{headsize}cm2", class: 'label'  %>
    </div>
    <% } %>
  </div>

  <div>
    <%= link_to 'Remove filter', rackets_path, remote: true, class: 'clear-search' %>
  </div>
</div>

