
  <div class= 'container'>
    <div class= 'racket-comparator-container'>
      <div class= 'racket-comparator-specs'>
        <% if @rackets_to_display.present? %>
        <% else %>
        <ul>
          <div>brand: </div>
          <div>model: </div>
          <div>headsize: </div>
          <div>weight: </div>
          <div>length: </div>
          <div>price: </div>
        </ul>
        <% end %>
      </div>

      <% @rackets_to_display.each {|racket| %>
      <div class= 'racket-comparator'>
        <div>
          <% if racket == nil %>
          <%= "please select a racket below and start comparing!" %>
          <% else %>
          <ul>
            <div> <%= racket.brand %> </div>
            <div> <%= racket.model %></div>
            <div> <%= racket.headsize %> cm2</div>
            <div> <%= racket.weight %> grams </div>
            <div> <%= racket.length %> cm </div>
            <div> <%= racket.price %> euros </div>
            <%#= button_to "delete", {action: "index"}, method: "get",
            params: {remove: :"#{@first_racket_to_compare.id}"}, remote: :true%>

          </ul>
          <% end %>
          <%  }  %>
        </div>
      </div>
    </div>
  </div>

