<%= form_with url: "/rackets", method: "get", class: 'search-form', remote: :true  do %>
  <%= hidden_field_tag "form_input", 1 %>
  <div id= 'search-bar-items'>
    <h5>
    <%= "Quick search" %>
    </h5>
    <div class= 'filters'>
    <%= text_field_tag :model, @model, placeholder: "Enter racket" %>
    </div>
    <h5>
    <%= "Brands" %>
    </h5>
    <div class= 'filters'>
    <% brand_array = [] %>
    <% @all_rackets.each {|racket| %>
    <% unless brand_array.include?(racket.brand) %>
    <% brand_array << racket.brand %>
    <div>
    <%= check_box_tag "brand[]", brand_array.last,
    if @brand != nil
    brand_values = @brand
    brand_values.include?(racket.brand)
    end,
    id: dom_id(racket),
    class: 'searchbar-checkbox'%>
    <%= label_tag dom_id(racket), brand_array.last %>
    </div>
    <% end %>
    <% } %>
    </div>


    <h5>
    <%= "Gender" %>
    </h5>

    <div class = filters>
      <div>
      <%= check_box_tag "male", true,
      if @male.present?
      @male
      else
      false
      end %>
      <%= label_tag "man" %>
      </div>

      <div>
      <%= check_box_tag "female", true,
      if @female.present?
      @female
      else
      false
      end %>
      <%= label_tag "woman" %>
      </div>

      <div>
      <%= check_box_tag "kid", true,
      if @kid.present?
      @kid
      else
      false
      end %>
      <%= label_tag "kid" %>
      </div>
    </div>

    <h5>
      <%= "String pattern" %>
    </h5>
    <div class= 'filters'>
    <% racket_string_pattern = [] %>
    <% @all_rackets.each {|racket| %>
    <% unless racket_string_pattern.include?([racket.verticalstringpattern, racket.horizontalstringpattern]) %>
      <% racket_string_pattern << [racket.verticalstringpattern, racket.horizontalstringpattern] %>
      <div>
      <%= check_box_tag "string_pattern[]", racket_string_pattern.last,
        if @string_pattern != nil
          @patterns.include?(racket_string_pattern.last)
        end %>
        <%= label_tag "#{racket_string_pattern.last[0]}x#{racket_string_pattern.last[1]}"  %>
    </div>
      <% end %>
    <% } %>
    </div>


    <h5>
      <%= "Weight" %>
    </h5>

    <div class= 'filters'>
      <% weight_list = [225, 240, 255, 270, 285, 300, 315, 330, 345] %>
      <% weight_list.each {|weight| %>
      <div>
          <%= check_box_tag "weight[]", weight,
          if @weight != nil
            @weight.include?(weight.to_s)
          end
        %>
        <%= label_tag
          if weight != 345
            "#{weight}g - #{weight + 14}g"
          else
            ">#{weight}g"
          end %>
        </div>
      <% } %>
    </div>


    <h5>
      <%= "Headsize" %>
    </h5>

    <div class= 'filters'>
      <% headsize_list = [(0..619), (620..644), (645..679), (680..2000)] %>
      <% headsize_list.each {|headsize| %>
      <div>
        <%= check_box_tag "headsize[]", headsize,

        if @headsize != nil
         p @headsize_range.include?(headsize)
        end
      %>
      <%= label_tag "#{headsize}cm2" %>
      </div>
      <% } %>
    </div>

    <div>
      <%= link_to 'Remove filter', rackets_path, remote: true %>
    </div>
  </div>
    <% end %>
